
{% extends "base.html" %}
{% block content %}

<section id="" class="services hidden">
    
    <div class="flash-messages ">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div><br>
    
    <div class="form-container">
        <div class="space-filler"></div>
    <div><small style="border:none" class="sub-topic-details" >Login Form</small><br>
    <!-- <small>A fast and convient plartform in Eswatini to sell and manage & track your car sales records</small> -->
    </div>
    <div class="line"></div><br>

    
    <form style="background-color: f8db5a;width:;"  _lpchecked="1" action="" method="post">
        <!-- <div><small style="border:none" class="form-groups-subs">Login Details</small></div><br> -->
        
        <!-------Post By--------->

        <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
            {{ login.hidden_tag() }}
            {{ login.user_email.label(class="labels")}}
            {{ login.user_email(class="form-control adj-width-60", placeholder="email")}}
            {% if login.user_email.errors %}
                {% for error in login.user_email.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
            {{ login.password.label(class="labels")}}
            {{ login.password(class="form-control adj-width-60", placeholder="password", value="{{agent_user.password}}")}}
            {% if login.password.errors %}
            {% for error in login.password.errors %}
                <span class="span-error" >*{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>


        <div>
            {{ login.Submit(class="btns") }}
            <!--<input class="btns" type="submit" value="Create Account" />-->
    </div>

    </form>
</div>
</section>

{% endblock %}