{% extends "base.html" %}
{% block content %}

<style>
    .form-fields{display:flex;flex-direction:column;}
    .sub-topics{margin: 0 auto;height:80px;width:60%;}
    .price-tag{font-size:30px;font-weight: 600;color: rgb(116, 101, 96)}
    .search-cont{background-color:;display: flex;justify-content:center;padding:10px}
    .search-cont input{border: 1px solid grey;border-radius:10px;padding: 5px;}
    .availability{border-radius:5px;padding:5px 10px;background-color: coral;color:antiquewhite;font-weight: 600;}
    .location{font-size:20px !important}
    .sub-topics h1,small,p{text-align: center}
    .sel-info-cont{display: flex;justify-content: center;align-items: center;}
    .sel-info-cont p{text-wrap: nowrap}
    /* section{ background-image:url(static/images/bg_service.png) } */
</style>

<div style="width:;margin:0 auto;background-color:;">
    <!-- <a id="contact_us"></a> -->
    <section style="background-color:;" id="" class="services hidden">
        <!-- Flash message -->

        <div class="flash-messages ">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for  category, message in messages %}
                        <div class="flash-messages alert-{{category}}"> {{message}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div><br>

        <div style="height:100px " class="main-img-cont">
            <img id="" style="height:inherit" class="main-img" src="static/images/eswatini_flag.png"  />
        </div>

        <!-- <div class="sub-topics"><p></p></div> -->

        <!-- <div class="search-cont"><a href="/search?search_value=value"><input type="search" placeholder="search" value=""></a></div><br> -->

        <div class="search-cont">
            <form action="/search" method="get">
              <input type="search" name="search_value" placeholder="Search" value="">
              <button type="submit">Search</button>
            </form>
        </div><br>

        <!-- Main  -->
         {% for mechanic in mechanics_qry %}
         <!-- <div style="margin:0 auto;width:80%" class="btns"></div><br> -->
         {% if mechanic.image and  sys.path.exists(sys.path.join("static/uploads/", mechanic.image)) %}
         <div style="display:flex;justify-content:center;width:100%;background-color:;"><small class="app-title">ESWATINI MECHANICS</small></div><br><br>

            <div class="card-cont">
                <div class="card">
                    <div>{{mechanic.name}}</div>
                    <div>{{mechanic.address}}</div>
                    <img class="mechanic-img" style="" src="static/images/{{mechanic.image}}" />
                    <div><img class="mechanic-img" style="" src="static/images/icon" />:{{mechanic.specialty}}</div>
                    <div><img class="mechanic-img" style="" src="static/images/icon" />:{{mechanic.specialty}}</div>
                </div>
            </div>
                
            <!--  POP UP - CONTACTS  -->
            <div id="popup_{{car_obj.user_id}}" class="pop-up">
                <div style="" id="pop-cont_{{car_obj.user_id}}" class="pop-cont">
                    <form name="Logo Quote Request" method="post">
                        <h1 style="margin:0 auto">Contact Seller</h1>
                        <div><hr></div>
                            <div style="background-color:;" class="bool-opt-cont">
                                <div  ><p></p></div>
                                <div class="update-icons-lnks"><img class="update-icons" src="static/icons/updates-call-icon.png" /><a class="contact-lnks" id="cell-no" href="tel:{{mechanic.contacts}}">{{mechanic.contacts}}</a></div>
                                {% if mechanic.whatsapp %}
                                <div class="update-icons-lnks"><img class="update-icons" src="static/icons/whatsapp-icon.png" /><a class="contact-lnks" id="cell-wa" href="https://wa.me/{{mechanic.whatsapp}}">{{mechanic.whatsapp}}</a></div>
                                {% endif %}
                                {% if mechanic.facebook %}
                                <div class="update-icons-lnks"><img class="update-icons" src="static/icons/updates-fb-icon.png" /><a class="contact-lnks" id="cell-fb" href="{{mechanic.facebook}}">{{mechanic.facebook}}</a></div>
                                {% endif %}
                                <div class="update-icons-lnks"><img class="update-icons" src="static/icons/updates-email-icon.png" /><a class="contact-lnks" id="cell-em" href="mailto:{{mechanic.email}}">{{mechanic.email}}</a></div>
                            </div><br><br>
                    </form>
                    <div style="flex-grow:1"></div>
                    <div style="align-self:flex-end"><input onclick="closePopup('{{mechanic.id}}')" type="button" value="Exit"></div>
                </div>
            </div>  


            <div style="overflow:auto !important;width:90%" class="imgs-cont">
                
            </div><div class="space-filler"></div>
            {% endif %}
        {% endfor %}
    </section>
    
</div>

<div id="image-viewer">
    <span class="close">&times;</span>
    <img class="modal-content" id="full-image">
</div>

<div class="space-filler"></div>

{% if not current_user.whatsapp %}
    <div class="whatsapp-icon">
        <a href="https://wa.me/{{current_user.whatsapp}}"><img style="height:40px;" class="car-image" src="static/icons/whatsapp-icon.png"></a>
    </div>
{% endif %}

<script>

function displayImage(carId, image) {
    let mainImg = document.querySelector("#image" + carId);
    mainImg.src = "static/uploads/" + image;
}

// Counter 

let counts; // Declare counts variable
let actual = document.querySelectorAll(".price");
let initial = 100;
let upto = 1500;


function startCounting() {
    // Start the counter
    counts = setInterval(updated, 0.1); // Adjusting interval for smooth effect
}

function updated() {
    // let count = document.getElementById("counter");
    const counterElements = document.querySelectorAll(".counter");
    // let currency = document.querySelector("#currency");
    counterElements.forEach(each => {
        // count.innerHTML = ++bogus;
        const car_price = actual.value;
        let bogus = actual.value - 1000;
        
        each.innerHTML = ++bogus;
            if (bogus >= 106000) {
                // currency.classList.add('bulge-animate');
                each.classList.add('bulge-animate');
                
                clearInterval(counts);
                // actual.innerHTML = actual.value;
            }
    });
}

function isElementInViewport(el) {
    const rect = el.getBoundingClientRect();
    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
}

window.addEventListener('scroll', function() {
    // const counterElement = document.getElementById("counter");
    const counterElements = document.querySelectorAll(".counter");
    counterElements.forEach(each => {
        // if (isElementInViewport(counterElement) && !counts) {
        if (isElementInViewport(each) && !counts) {
            startCounting(); // Start counting if in viewport
        }
    });
});


</script>
{% endblock %}